nav{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;
}
.header{
    background-image: url(Assets/Hero-bg.png);
}
.btn{
    color: white;
    background-color: #4cac73;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    width: 112px;
    height: 48px;
    text-align: center;
    display: flex;
}
.colour-txt{
  color:#4cac73 ;
}
.banner{
    text-align: center;
    
}
